.site--inner{
	max-width: 900px;
	margin: 0 auto;
	padding: 2em;
}

.license{
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	font-size: 0.5em;
}


// Maps
map{
	display:inline-block !important;
	width:100%;
	height: 400px
}

.logo{
	display: block;
	float: left;
	height: 6em;
	margin-right: 1em;
}
